<style>
.c-dropdown {

}

.o-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-top: -.25rem;
}

.c-dropdown__button {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    line-height: 1.8;
    border: solid 1px transparent;
    border-radius: 2px;
    font-size: 11px;
    cursor: pointer;
    -webkit-font-smoothing: subpixel-antialiased;
}

.c-dropdown__toggle {
    display: inline-block;
}

.c-dropdown__menu.c-dropdown__menu {
    margin-top: .75rem;
    padding: .75rem 1rem;
    min-width: 8rem;
    text-transform: none;
    position: absolute;
    z-index: 1;
    animation: dropdownIn .1s ease-out backwards;
}

.c-dropdown__item {
    margin-bottom: .75rem;
}

.c-dropdown__item:last-child {
    margin-bottom: 0;
}

/* ============================================================================
  Arrows
============================================================================= */

.u-arrow:before {
    content: '';
    border: solid .35rem transparent;
    display: block;
    position: absolute;
}

.u-arrow--tl:before {
    bottom: 100%;
    left: 1rem;
}


/* ============================================================================
  Default dropdown theme
============================================================================= */

.t-default {

}

.t-default .u-btn-current {
    border-color: rgba(0, 0, 0, 0.15);
    color: #43b1b0;
}

.t-default .u-btn-current:hover {
    background: #43b1b0;
    color: #fff;
    border-color: #43b1b0;
}


.t-default .u-btn-current:active {
    background: #333;
    color: #fff;
    border-color: #333;
}

.t-inverted .u-btn-current {
    border-color: rgba(0, 0, 0, 0.25);
    color: #fff;
}


/* ============================================================================
  Dark theme
============================================================================= */

.t-dark .u-link {
    color: #fff;
}

.t-dark .u-link:hover {
    color: #aaa;
}

.t-dark .u-background {
    background: #333;
}

.t-dark .u-arrow:before {
    border-bottom-color: #333;
}

@keyframes dropdownIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ============================================================================
  Light theme
============================================================================= */
.t-light .u-link {
    color: #333;
}

.t-light .u-link:hover {
    color: #aaa;
}

.t-light .u-background {
    background: #fff;
    border-color: #ccc;
}

.t-light .u-arrow:before {
    border-bottom-color: #fff;
}


.u-toggle {
    display: none;
}

.is-open .u-toggle {
    display: block;
}
</style>

<div {{ self.attrs }} class="c-dropdown  {% if is_parent %}t-inverted{% else %}t-default{% endif %}" data-dropdown>
    <a class="c-dropdown__button  u-btn-current">
        {{ label }}
        <div data-dropdown-toggle class="o-icon  c-dropdown__toggle  [ icon icon-arrow-down ]"></div>
    </a>
    <div class="t-dark">
        <ul role="menu" class="c-dropdown__menu  u-toggle  u-arrow u-arrow--tl u-background">
        {% for button in buttons %}
            <li class="c-dropdown__item ">
                <a href="{{ button.url }}" class="u-link">
                    {{ button.label }}
                </a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>
